
@import url('https://fonts.googleapis.com/css?family=DM+Sans|Zilla+Slab&display=swap');

h1, h2, h3, h4, h5, h6{
	font-family: 'Zilla Slab', serif;
	font-weight: 700;
}

p {
	font-family: 'DM Sans', sans-serif;
}