@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

.home {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto Slab', serif;
}

img {
	width: 50vh;
	height: auto;
	margin-bottom: 10px;
}

.home li {
	list-style: none;
}

.home li {
	font-size: 1.3em;
	padding: 5px;
}

button {
	text-decoration: none;
	color: white;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

li button,
#new-squad {
	background: none;
	padding: 1.5em;
	border: 1px solid #ff5656;
	border-radius: 5px;
	transition: transform 0.5s;
	background-color: #ff5656;
}

li button:hover,
#new-squad:hover {
	cursor: pointer;
	transform: scale(1.1);
}

#new-squad {
	position: absolute;
	top: 1em;
	left: 1em;
	background-color: #001e42;
	border: 1px solid #001e42;
}
