.main {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.container {
	width: 100%;
	height: 100%;
	font-family: 'Roboto Slab', serif;
	/* CSS SMOOTH SCROLL */
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

.squad-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto Slab', serif;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	text-align: center;

	/* SCROLL SNAP */
	scroll-snap-align: center;
}

#form {
	display: flex;
	flex-direction: column;
	width: 70vh;
}

#standard-basic-label,
#standard-basic {
	font-family: 'Roboto Slab', serif;
}

p {
	max-width: 60vh;
}

span {
	color: #ff5656;
}

#register-dao .MuiButton-label {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	color: #001e42;
}

#next {
	padding: 1.5em;
	border-radius: 5px;
	margin-top: 1em;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

#donate {
	text-decoration: none;
	color: white;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

#donate {
	background: none;
	padding: 1.5em;
	border: 1px solid #ff5656;
	border-radius: 5px;
	transition: transform 0.5s;
	background-color: #ff5656;
}

#donate:hover {
	cursor: pointer;
	transform: scale(1.1);
}

#home {
	position: absolute;
	top: 1em;
	left: 1em;
	color: #ff5656;
}
